html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(195, 164, 157);
    padding: 0px;
    margin: 0px;
    overflow: hidden; 

    font-family: Arial, Helvetica, sans-serif;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container {
    height: 20%;
    flex-direction: column;
    color: white;
    background-color: rgb(195, 164, 157);
    position: relative;
    z-index: 999;
}

.last-price-container span {
    font-size: 64px;
}

.last-price-container #price {
    color: rgb(74, 134, 119);
    display: inline-block;
}

.grow {
    animation: grow-then-shrink 1s normal forwards ease-in-out;
}

#countdown {
    display: inline-block;
    animation: grow-then-shrink 1s infinite alternate;
}

#delta {
    font-size: 24px;
    padding-left: 16px;
}

#yesterday {
    font-size: 24px;
    padding-bottom: 6px;
}
 
.btc-coaster-container {
    height: 70%;
    width: 100%;
}

#coaster {
    height: 100%;
    transition: 2s ease-in-out;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
} 

.up {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.up-diagonal {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.sideways {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.down-diagonal {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}

.down {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.footer {
    position: relative;
    z-index: 999;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer button {
    width: 50%;
    display: inline-block;
    font-size: 32px;
    color: white;
    border: none;
    background-color: grey;
    outline: none;
    transition: background-color 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button img {
    height: 32px;
}

.selected-btc {
    background-color: #FF9900;
    animation: btc-glow 5s;
    -moz-animation: btc-glow 5s infinite; /* Firefox */
    -webkit-animation: btc-glow 5s infinite; /* Safari and Chrome */
}

.selected-eth {
    background-color: #93a1c6;
    animation: eth-glow 5s;
    -moz-animation: eth-glow 5s infinite; /* Firefox */
    -webkit-animation: eth-glow 5s infinite; /* Safari and Chrome */
}

.selected-ltc {
    background-color: #636467;
    animation: ltc-glow 5s;
    -moz-animation: ltc-glow 5s infinite; /* Firefox */
    -webkit-animation: ltc-glow 5s infinite; /* Safari and Chrome */
}

@keyframes grow-then-shrink {
	0% { transform: none; }
	50% { transform: scale(1.35); }
	100% { transform: none; }
}

@keyframes btc-glow {
	0% { background-color: #FF9900; }
	50% { background-color: #F5CE1D; }
	100% { background-color: #FF9900; }
}

@keyframes eth-glow {
	0% { background-color: #93a1c6; }
	50% { background-color: #516BB1; }
	100% { background-color: #93a1c6; }
}

@keyframes ltc-glow {
	0% { background-color: #636467; }
	50% { background-color: #A6A9AF; }
	100% { background-color: #636467; }
}

@media screen and (max-width: 780px) {
    .last-price-container span {
        font-size: 36px;
        color: white;
    }

    #yesterday {
        font-size: 18px;
        padding-bottom: 6px;
    }
}